@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

@font-face{
    font-family: Andasia;
    src: url(/wedding_planner_api/weddingplanner_client/src/fonts/Andasia.ttf)
  }

.frontpageHeader{
    text-align: center;
    font-family: Andasia;
    font-size: 28pt;
    text-decoration-line: underline;
}